html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
/* first photo*/
.b1{
    width: 100%;
    height: 100%;
    margin: auto;
    background: url(OFFPozadie.jpg) no-repeat 50% 50%;
    top: 0;
    display: table;
    background-size:cover;
}
.b1 .in1{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.content{
    max-width: 1000px;
    margin: auto;
    text-align: center;
}
.content h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 400%;
    text-shadow: 20px 50px 400px #000;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 2px;
}


.content .btn{
    border-radius: 9px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid;
    padding: 7px 13px;
    font-weight: bold;
}
.content .btn:hover{
    color: rgb(0, 4, 247);
}
/* second photo*/
.b2{
    width: 100%;
    height: 100%;
    margin: auto;
    
    top: 0;
    display: table;
    background-size:cover ;
}
.b2 .in2{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.obsah{
    max-width: 1000px;
    margin: 2px auto;
    text-align: center;
}
.obsah h1{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 200%;

}
.obsah p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 150%;
    
}
.obsah .btn2{
    border-radius: 9px;
    color: rgb(179, 173, 173);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid;
    padding: 7px 13px;
    font-weight: bold;
}
.obsah .btn2:hover{
    color: rgb(0, 4, 247);
}

.links{
    right: 30;
    top: 200;
    position: relative;
    
    
}
 
.links ul li{
    list-style: none;
    margin-top: 20px;
    cursor: pointer;
}
.links ul li .fa {
    font-size: 35px;
    color: #000;
    
}



