html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}
/* first photo*/
.b1{
    width: 100%;
    height: 100%;
    margin: auto;
    background: url(peso.png) no-repeat 50% 50%;
    top: 0;
    display: table;
   
    background-size: cover;
}
.b1 .in1{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.content{
    max-width: 100%;
    margin: 2px auto;
    
    text-align: center;
    
}
.content h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 340%;
   
    
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 3px;
}
.content h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 150%;
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 0px;
  
    
}



.content .btn{
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid;
    padding: 10px 15px;
    font-weight: bold;
    position: absolute;
    top: 5%;
    left: 3%;
}
.content .btn:hover{
    color: rgb(0, 0, 0);
}

.links{
  
   
    right: 30px;
    top: 40px;
    position: relative;
    
    
}
 
.links ul li{
    list-style: none;
    margin-top: 20px;
    cursor: pointer;
}
.links ul li .fa {
    font-size: 50px;
    color: #000000;
  
    
}
.links .linkWord{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 20px;
    right: 0%;
    bottom: 95%;
}
/* second photo*/
.b2{
    width: 100%;
    height: 25%;
    margin: auto;
    background: rgb(47, 66, 97);
    top: 0;
    display: table;
    background-size:cover ;
}
.b2 .in2{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.obsah{
    max-width: 100%;
    position: relative;
    
    
}
.obsah h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffffea;
    font-size: 150%;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.993);
    -webkit-text-stroke-width: 0.5px;
    position: absolute;
    bottom: -15%;
    
    
    
    
}

.obsah p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 90%;
    position: absolute;
    top: 113%;
    
}
.obsah .h12{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 150%;
    position: absolute;
    bottom: -15%;
    left: 45%;
}
.obsah .p1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 90%;
    position: absolute;
    top: 113%;
    left: 45%;
}
.obsah .h123{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 150%;
    position: absolute;
    bottom: -15%;
    right: 2%;
}
.obsah .p2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 90%;
    position: absolute;
    top: 113%;
    right:  3%;
}








